# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
venv/
env/
env-lab3/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build/packaging
*.egg-info/
.dist/
build/
dist/

# App-generated images
static/result.jpg
static/snapshot.jpg
